$white_color:#fff;
$black_color: #000;
$bg_gray_color:#F0F0F0;
$yellow_color: #FFC633;

$gray_color:#B4B4B4;
$red_color: #D61C22;

$gray_color:#B4B4B4;
$dark_black_color: #111111;
$white_opacity_color: #FFFFFFE6;
$satoshi_family: 'Satoshi', sans-serif;

