@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Satoshi", sans-serif !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, header .black_heading p a, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  transition: 0.4s all;
}
a:hover {
  color: #D61C22 !important;
}

body {
  line-height: 1;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer .footer_card .icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header .black_heading {
  background-color: #000;
  padding: 9px 0;
}
header .black_heading p, header .black_heading p a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
  color: #fff;
}
header .black_heading p a {
  font-weight: 500;
  text-decoration: underline;
}
header .black_heading i {
  color: #fff;
  font-size: 20px;
}
header nav {
  padding: 22px 0;
}
header nav .logo {
  width: 100%;
  height: 22px;
}
header nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
header nav ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  color: #000;
}
header nav .nav_search {
  background-color: #F0F0F0;
  padding: 12px 16px;
  border-radius: 25px;
}
header nav .nav_search i {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.407);
}
header nav .nav_search input {
  background-color: transparent;
  border: none;
}
header nav .nav_icons {
  gap: 14px;
}
header nav .nav_icons i {
  font-size: 22px;
  color: #000;
}

main #banner {
  padding: 50px 0 0;
  width: 100%;
  background-color: #F2F0F1;
}
main #banner .sect_text h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 64px;
}
@media (max-width: 400px) {
  main #banner .sect_text h1 {
    font-size: 40px;
  }
}
main #banner .sect_text .txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 20px 0;
}
main #banner .sect_text .shop_btn {
  padding: 16px 54px;
  border-radius: 25px;
  color: #F2F0F1;
  background-color: black;
  transition: 0.3s linear;
}
main #banner .sect_text .shop_btn:hover {
  color: black;
  background-color: white;
}
main #banner .sect_text .lists {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 40px;
}
main #banner .sect_text .lists div {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 769px) {
  main #banner .sect_text .lists {
    justify-content: center;
  }
}
main #banner .sect_text .lists h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
}
main #banner .sect_text .lists p, main #banner .sect_text .lists header .black_heading p a, header .black_heading p main #banner .sect_text .lists a {
  color: rgba(0, 0, 0, 0.662745098);
}
main #banner .sect_text .section_img {
  width: 80%;
  border-radius: 15px;
  overflow: hidden;
}
main #banner .sect_text .section_img img {
  width: 100%;
  height: 280px;
}
main #banner .section_img {
  width: 100%;
  height: 500px;
}
main #banner .section_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
main #brands {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  flex-wrap: wrap;
}
main #brands .brand_logo {
  width: 15%;
  height: 35px;
}
main #brands .brand_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
main #products {
  padding: 50px 0;
}
main #products .sect_header {
  font-weight: 800;
  font-size: 48px;
  line-height: 57.6px;
  color: #000;
  text-transform: uppercase;
}
main #products .product_card .card_img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}
main #products .product_card .card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main #products .product_card .card_desc {
  padding: 10px 0;
}
main #products .product_card .card_desc h4 {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #000;
  text-transform: capitalize;
}
main #products .product_card .card_desc .stars {
  gap: 6px;
  padding: 9px 0;
}
main #products .product_card .card_desc .stars i {
  color: #FFC633;
  font-size: 18px;
}
main #products .product_card .card_desc .stars span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}
main #products .product_card .card_desc .stars span small {
  opacity: 0.5;
}
main #products .product_card .card_desc .value {
  gap: 10px;
}
main #products .product_card .card_desc .value span {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}
main #products .product_card .card_desc .value span:nth-child(2) {
  opacity: 0.5;
  text-decoration: line-through;
}
main #products .viewMoore {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  color: #000;
  padding: 16px 54px;
  border-radius: 30px;
  transition: 0.4s all;
}
main #products .viewMoore:hover {
  background-color: rgba(0, 0, 0, 0.1019607843);
}
main #dressStyle .container {
  background-color: #f0f0f0;
  border-radius: 40px;
  padding-top: 50px;
}
main #dressStyle .container .sect_header {
  font-weight: 800;
  font-size: 48px;
  line-height: 57.6px;
  color: #000;
  text-transform: uppercase;
}
main #dressStyle .container .styleCard {
  width: 100%;
  height: 290px;
  border-radius: 20px;
  overflow: hidden;
}
main #dressStyle .container .styleCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
main #customerReview {
  padding: 60px 0 40px;
}
main #customerReview .sect_header {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #000;
}
main #customerReview .icons {
  display: flex;
  justify-content: end;
  gap: 5px;
}
main #customerReview .icons i {
  font-weight: 900;
  font-size: 20px;
}
main #customerReview .card {
  padding: 28px 32px;
}
main #customerReview .card .stars {
  gap: 6px;
  padding: 9px 0;
}
main #customerReview .card .stars i {
  color: #FFC633;
  font-size: 18px;
}
main #customerReview .card h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #000;
}
main #customerReview .card p, main #customerReview .card header .black_heading p a, header .black_heading p main #customerReview .card a {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}

footer {
  margin-top: 150px;
  position: relative;
  background-color: #f0f0f0;
  padding: 50px 0;
}
footer .footerHeader {
  background-color: #000;
  padding: 36px 64px;
  border-radius: 20px;
  position: absolute;
  transform: translate(6%, -80%);
}
footer .footerHeader h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #fff;
}
footer .footerHeader .subscripe {
  gap: 10px;
}
footer .footerHeader .subscripe input {
  padding: 12px 16px;
  background-color: #fff;
  border-radius: 30px;
  border: none;
}
footer .footerHeader .subscripe button {
  padding: 12px 16px;
  background-color: #fff;
  border-radius: 30px;
  border: none;
}
footer .footer_card h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  color: #000;
}
footer .footer_card p, footer .footer_card header .black_heading p a, header .black_heading p footer .footer_card a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  margin: 25px 0;
}
footer .footer_card .icons {
  gap: 10px;
}
footer .footer_card .icons div {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.202);
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s all;
}
footer .footer_card .icons div i {
  font-size: 15px;
  color: #000;
  transition: 0.4s all;
}
footer .footer_card .icons div:hover {
  background-color: #000;
}
footer .footer_card .icons div:hover i {
  color: #fff;
}
footer .lists {
  display: flex;
  flex-direction: column;
}
footer .lists .bold_li {
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
footer .lists li {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 15px;
}/*# sourceMappingURL=style.css.map */